<button class="btn btn-primary" (click)="add()">{{ 'App.Action.Add' | translate}}</button>

<app-group-edit (onApply)="onApply($event)" (onCancel)="onCancel()"></app-group-edit>

<clr-datagrid *ngIf="stateService.groups$ | async as groups">
  <clr-dg-column>{{ 'App.Fields.Name' | translate}}</clr-dg-column>
  <clr-dg-column>{{ 'App.Grade.Grade' | translate}}</clr-dg-column>
  <clr-dg-column>{{ 'App.Teacher.Teacher' | translate}}</clr-dg-column>
  <clr-dg-column>{{ 'App.Room.Room' | translate}}</clr-dg-column>
  <clr-dg-column>{{ 'App.Fields.Changed' | translate}}</clr-dg-column>
  <clr-dg-column>{{ 'App.Fields.Created' | translate}}</clr-dg-column>
  <clr-dg-row *ngFor="let item of groups" (dblclick)="edit(item)">
    <clr-dg-cell>{{item.name}}</clr-dg-cell>
    <clr-dg-cell>{{item.level}}</clr-dg-cell>
    <clr-dg-cell>{{teacherShort(item)}}</clr-dg-cell>
    <clr-dg-cell>{{roomName(item)}}</clr-dg-cell>
    <clr-dg-cell>{{item.changedAt}}</clr-dg-cell>
    <clr-dg-cell>{{item.createdAt}}</clr-dg-cell>
    <clr-dg-action-overflow>
      <button class="action-item" (click)="edit(item)">{{ 'App.Action.Edit' | translate}}</button>
      <button class="action-item" (click)="remove(item)">{{ 'App.Action.Delete' | translate}}</button>
    </clr-dg-action-overflow>
  </clr-dg-row>

  <clr-dg-footer>{{groups.length}}  {{ 'App.Group.Groups' | translate }}</clr-dg-footer>
</clr-datagrid>
