<button nz-button nzType="primary" (click)="add()">{{ 'App.Action.Add' | translate}}</button>

<app-lesson-edit (onApply)="onApply($event)" (onCancel)="onCancel()"></app-lesson-edit>

<nz-table #basicTable [nzData]="items" *ngIf="stateService.lessons as items">
  <thead>
  <tr>
    <th>{{ 'App.Fields.Position' | translate}}</th>
    <th>{{ 'App.Fields.Name' | translate}}</th>
    <th>{{ 'App.Fields.From' | translate}}</th>
    <th>{{ 'App.Fields.To' | translate}}</th>
    <th>{{ 'App.Fields.Type' | translate}}</th>
    <th>{{ 'App.Fields.Changed' | translate}}</th>
    <th>{{ 'App.Fields.Created' | translate}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of basicTable.data">
    <td>{{item.position}}</td>
    <td>{{item.name}}</td>
    <td>{{item.from}}</td>
    <td>{{item.to}}</td>
    <td>{{ 'App.Lesson.Types.' + item.type | translate }}</td>
    <td>{{item.changedAt}}</td>
    <td>{{item.createdAt}}</td>
    <td><span (click)="edit(item)" nz-icon nzType="edit" nzTheme="outline"></span></td>
    <td><span nz-popconfirm nzPopconfirmTitle="{{ 'App.Message.ConfirmRemove' | translate}}" (nzOnConfirm)="remove(item)" nz-icon nzType="delete" nzTheme="outline"></span></td>
  </tr>
  </tbody>
</nz-table>
