<nz-modal (nzOnCancel)="cancel()" (nzOnOk)="apply()" [(nzVisible)]="show" [nzTitle]="('App.Action.Edit' | translate) + ':' + ('App.Room.Room' | translate)">
  <form *nzModalContent nz-form [formGroup]="form">
    <nz-form-item>
      <nz-form-label [nzSpan]="4">{{ 'App.Fields.Name' | translate }}</nz-form-label>
      <nz-form-control [nzSpan]="6">
        <input nz-input formControlName="name" type="text">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="4">{{ 'App.Fields.Size' | translate }}</nz-form-label>
      <nz-form-control [nzSpan]="6">
        <input nz-input formControlName="size" type="number">
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>

