<form nz-form [formGroup]="form">
  <nz-form-item>
    <nz-form-label [nzSpan]="4">{{ 'App.Authenticate.Tenant' | translate }}</nz-form-label>
    <nz-form-control [nzSpan]="6">
      <input formControlName="tenantId">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="4">{{ 'App.Authenticate.Username' | translate }}</nz-form-label>
    <nz-form-control [nzSpan]="6">
      <input nz-input formControlName="userName" type="email">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="4">{{ 'App.Authenticate.Password' | translate }}</nz-form-label>
    <nz-form-control [nzSpan]="6">
      <nz-input-group [nzSuffix]="suffixTemplate">
        <input
          [type]="passwordVisible ? 'text' : 'password'"
          nz-input
          placeholder="input password"
          formControlName="password"
        />
      </nz-input-group>
      <ng-template #suffixTemplate>
      <span
        nz-icon
        [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
        nzTheme="outline"
        (click)="passwordVisible = !passwordVisible"
      ></span>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

</form>
<button nz-button nzType="primary"
        (click)="onRegister()"
        type="button">{{ 'App.Authenticate.Register' | translate}}</button>

