<section>
  <div class="card-body">
    <app-tenant-select></app-tenant-select>
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
        <!-- Email input -->
        <div class="formGroup">
          <input
            type="email"
            class="formControl"
            placeholder="Email Address"
            #userEmail
            required
          />
        </div>
        <!-- Password input -->
        <div class="formGroup">
          <input
            type="password"
            class="formControl"
            placeholder="Password"
            #userPwd
            required
          />
        </div>
        <!--Register Button-->
        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
          <button
            type="submit"
            color="primary"
            class="btn btn-primary btn-lg btn-block"
            (click)="onRegister(userEmail.value, userPwd.value)">
            Register
          </button>
        </div>
        <div class="redirectToLogin">
          <span>
            Already have an account?
            <span class="redirect" routerLink="/sign-in">Log In</span>
            </span>
        </div>
      </div>
    </div>
  </div>
</section>


