<div class="modal" *ngIf="show">
  <div class="modal-dialog" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" type="button">
          <cds-icon shape="close"></cds-icon>
        </button>
      </div>
      <h3 class="modal-title">{{ 'App.Action.Edit' | translate }}: {{ 'App.Course.Course' | translate }}</h3>
      <div class="modal-body">
        <form clrForm clrLayout="horizontal">
          <clr-input-container>
            <label>{{ 'App.Fields.Name' | translate }}</label>
            <input clrInput [(ngModel)]="item.name" type="text" name="name" class="formControl" #name required>
            <clr-control-error *clrIfError="'required'">
              {{ 'App.Validation.FieldIsRequired' | translate }}
            </clr-control-error>
          </clr-input-container>
          <button class="btn btn-primary" (click)="addHour()">{{ 'App.Action.Add' | translate }}</button>
        </form>
        <clr-datagrid>
          <clr-dg-column>{{ 'App.Fields.Level' | translate }}</clr-dg-column>
          <clr-dg-column>{{ 'App.Fields.Hours' | translate }}</clr-dg-column>
          <clr-dg-row class="compact-grid" *ngFor="let courseWeek of item.weeklyHours">
            <clr-dg-cell>
              <clr-combobox [(ngModel)]="courseWeek.level" name="level" required>
                <clr-options>
                  <clr-option *clrOptionItems="let grade of stateService.grades" [clrValue]="grade.level">
                    {{ grade.level }}
                  </clr-option>
                </clr-options>
              </clr-combobox>
            </clr-dg-cell>
            <clr-dg-cell>
              <clr-input-container>
                <input clrInput [(ngModel)]="courseWeek.hours" type="number" class="formControl" #name name="name"
                       required>

                <clr-control-error *clrIfError="'required'">
                  {{ 'App.Validation.FieldIsRequired' | translate }}
                </clr-control-error>
              </clr-input-container>
            </clr-dg-cell>
            <clr-dg-action-overflow>
              <button class="action-item" (click)="removeHour(courseWeek)">{{ 'App.Action.Delete' | translate }}
              </button>
            </clr-dg-action-overflow>
          </clr-dg-row>
        </clr-datagrid>
      </div>
      <div class="modal-footer">
        <button (click)="onCancel.emit()" class="btn btn-outline" type="button">{{ 'App.Action.Cancel' | translate }}
        </button>
        <button (click)="apply()" class="btn btn-primary" type="button">{{ 'App.Action.Ok' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop" aria-hidden="true" *ngIf="show"></div>
