<nz-modal (nzOnCancel)="cancel()" (nzOnOk)="apply()" [(nzVisible)]="show"
          [nzTitle]="('App.Action.Edit' | translate) + ':' + ('App.Course.Course' | translate)">
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="form">
      <nz-form-item>
        <nz-form-label [nzSpan]="4">{{ 'App.Fields.Name' | translate }}</nz-form-label>
        <nz-form-control [nzSpan]="6">
          <input nz-input formControlName="name" type="text">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="4">{{ 'App.Fields.Type' | translate }}</nz-form-label>
        <nz-form-control [nzSpan]="6">
          <nz-select formControlName="type">
            <nz-option [nzValue]="LessonType.normal" [nzLabel]="'App.Lesson.Types.normal' | translate"></nz-option>
            <nz-option [nzValue]="LessonType.break" [nzLabel]="'App.Lesson.Types.break' | translate"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </form>

    <nz-table [nzShowPagination]="false" [nzFrontPagination]="false"  nzSize="small" #basicTable [nzData]="items" *ngIf="item.weeklyHours as items">
      <thead>
      <tr>
        <th>
          <button nz-button nzType="primary" (click)="addHour()">{{ 'App.Action.Add' | translate }}</button>
        </th>
        <th>{{ 'App.Group.Group' | translate }}</th>
        <th>{{ 'App.Fields.Hours' | translate }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of basicTable.data">
        <ng-container *ngIf="!item.edit">
          <td class="command-col">
            <span (click)="editHour(item)" nz-icon nzType="edit" nzTheme="outline"></span>
            <span nz-popconfirm nzPopconfirmTitle="{{ 'App.Message.ConfirmRemove' | translate}}"
                  (nzOnConfirm)="removeHour(item)"
                  nz-icon nzType="delete" nzTheme="outline"></span>
          </td>
          <td class="w6">{{ groupName(item) }}</td>
          <td class="w6">{{ item.hours }}</td>
        </ng-container>
        <ng-container *ngIf="item.edit">
          <td class="command-col">
            <span (click)="saveEditHour(item)" nz-icon nzType="save" nzTheme="outline"></span>
            <span (click)="cancelEditHour(item)" nz-icon nzType="close" nzTheme="outline"></span>
          </td>
          <td class="w6">
            <nz-select name="groupId" [(ngModel)]="item.groupId">
              <nz-option *ngFor="let item of stateService.groups" [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
            </nz-select>
          </td>
          <td class="w6">
            <input nz-input name="hours" [(ngModel)]="item.hours" type="number">
          </td>
        </ng-container>
      </tr>
      </tbody>
    </nz-table>

  </ng-container>

</nz-modal>

