<div class="modal" *ngIf="show">
  <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" type="button">
          <cds-icon shape="close"></cds-icon>
        </button>
      </div>
      <h3 class="modal-title">{{ 'App.Action.Edit' | translate }}: {{ 'App.Plan.Plan' | translate }}</h3>
      <div class="modal-body">
        <form class="clr-flex clr-flex-row"
          [formGroup]="form">
          <clr-input-container>
            <label class="clr-required-mark">{{ 'App.Fields.Name' | translate }}</label>
            <input clrInput formControlName="name" type="text" class="formControl" required>
            <clr-control-error *clrIfError="'required'">
              {{ 'App.Validation.FieldIsRequired' | translate}}
            </clr-control-error>
          </clr-input-container>

          <clr-select-container>
            <label class="clr-required-mark">{{ 'App.Group.Group' | translate }}</label>
            <select clrSelect formControlName="groupId">
              <option
                *ngFor="let group of stateService.groups; let i = index"
                [value]="group.id"
              >
                {{group.name}}
              </option>
            </select>
          </clr-select-container>

          <clr-input-container>
            <label>{{ 'App.Fields.From' | translate }}</label>
            <input clrInput formControlName="from" type="date" class="formControl">
          </clr-input-container>

          <clr-input-container>
            <label>{{ 'App.Fields.To' | translate }}</label>
            <input clrInput formControlName="to" type="date" class="formControl">
          </clr-input-container>
        </form>
        <app-plan-lines-edit></app-plan-lines-edit>
      </div>
      <div class="modal-footer">
        <button (click)="onCancel.emit()" class="btn btn-outline" type="button">{{ 'App.Action.Cancel' | translate }}
        </button>
        <button (click)="apply()" class="btn btn-primary" type="button">{{ 'App.Action.Ok' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop" aria-hidden="true" *ngIf="show"></div>
