<nz-modal [nzCentered]="true" [nzWidth]="1300" (nzOnCancel)="cancel()" (nzOnOk)="apply()" [(nzVisible)]="show"
          [nzTitle]="('App.Action.Edit' | translate) + ':' + ('App.Plan.Plan' | translate)">
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="form" class="d-flex-row">
      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="10">
          <nz-form-item>
            <nz-form-label>{{ 'App.Fields.Name' | translate }}</nz-form-label>
            <nz-form-control >
              <input nz-input formControlName="name" type="text">
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="10">
          <nz-form-item>
            <nz-form-label>{{ 'App.Group.Group' | translate }}</nz-form-label>
            <nz-form-control>
              <nz-select formControlName="groupId">
                <nz-option *ngFor="let item of stateService.groups" [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="4">
          <nz-form-item>
            <nz-switch formControlName="active"
                       [nzCheckedChildren]="'App.Status.Active' | translate"
                       [nzUnCheckedChildren]="'App.Status.Inactive' | translate"></nz-switch>
          </nz-form-item>
        </div>
      </div>
    </form>
    <app-plan-cells-edit
      (onEditCell)="onEditCell($event)"
      (onRemoveCell)="onRemoveCell($event)"
      [planEditComponent]="this">
    </app-plan-cells-edit>
  </ng-container>
</nz-modal>
