<div class="modal" *ngIf="show">
  <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" type="button">
          <cds-icon shape="close"></cds-icon>
        </button>
      </div>
      <h3 class="modal-title">{{ 'App.Action.Edit' | translate }}: {{ 'App.Plan.Plan' | translate }}</h3>
      <div class="modal-body">
        <form clrForm clrLayout="horizontal">
          <clr-input-container>
            <label>{{ 'App.Fields.Name' | translate }}</label>
            <input clrInput [(ngModel)]="item.name" type="text" class="formControl" #name name="name" required>
            <clr-control-error *clrIfError="'required'">
              {{ 'App.Validation.FieldIsRequired' | translate}}
            </clr-control-error>
          </clr-input-container>
          <clr-combobox [(ngModel)]="item.groupId" name="group" required>
            <clr-options>
              <clr-option *clrOptionItems="let group of stateService.groups" [clrValue]="group.name">
                {{ group.name }}
              </clr-option>
            </clr-options>
          </clr-combobox>
        </form>
        <app-plan-lines-edit></app-plan-lines-edit>
      </div>
      <div class="modal-footer">
        <button (click)="onCancel.emit()" class="btn btn-outline" type="button">{{ 'App.Action.Cancel' | translate }}
        </button>
        <button (click)="apply()" class="btn btn-primary" type="button">{{ 'App.Action.Ok' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop" aria-hidden="true" *ngIf="show"></div>
