<form nz-form [formGroup]="form">
  <nz-form-item>
    <nz-form-label style="width:150px;">{{ 'App.Fields.Email' | translate }}</nz-form-label>
    <nz-form-control >
      <input nz-input style="width:300px;" formControlName="email" type="email">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label style="width:150px;">{{ 'App.Fields.Uid' | translate }}</nz-form-label>
    <nz-form-control>
      <input nz-input style="width:300px;" formControlName="uid" type="text">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label style="width:150px;">{{ 'App.Fields.Lang' | translate }}</nz-form-label>
    <nz-form-control>
      <nz-select formControlName="lang" style="width:300px;">
        <nz-option nzCustomContent nzLabel="de-DE" nzValue="de-DE">
          <img height="16" [src]="'../assets/flags/de.svg'" style="margin-right:4px">de-DE
        </nz-option>
        <nz-option nzCustomContent nzLabel="en-GB" nzValue="en-GB">
          <img height="16" [src]="'../assets/flags/gb.svg'" style="margin-right:4px">en-GB
        </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
</form>
