<form nz-form [formGroup]="form">
  <nz-form-item>
    <nz-form-label [nzSpan]="2">{{ 'App.Tenant.Id' | translate }}</nz-form-label>
    <nz-form-control [nzSpan]="6">
      <input nz-input formControlName="tenantId" type="text">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="2">{{ 'App.Fields.Email' | translate }}</nz-form-label>
    <nz-form-control [nzSpan]="6">
      <input nz-input formControlName="email" type="text">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="2">{{ 'App.Tenant.Name' | translate }}</nz-form-label>
    <nz-form-control [nzSpan]="6">
      <input nz-input formControlName="name" type="text">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="2">{{ 'App.Tenant.Country' | translate }}</nz-form-label>
    <nz-form-control [nzSpan]="6">
      <input nz-input formControlName="country" type="text">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="2">{{ 'App.Tenant.Zip' | translate }}</nz-form-label>
    <nz-form-control [nzSpan]="6">
      <input nz-input formControlName="zip" type="text">
    </nz-form-control>
  </nz-form-item>

<nz-form-item>
  <nz-form-label [nzSpan]="2">{{ 'App.Tenant.City' | translate }}</nz-form-label>
  <nz-form-control [nzSpan]="6">
    <input nz-input formControlName="city" type="text">
  </nz-form-control>
</nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="2">{{ 'App.Tenant.Street' | translate }}</nz-form-label>
    <nz-form-control [nzSpan]="6">
      <input nz-input formControlName="street" type="text">
    </nz-form-control>
  </nz-form-item>

</form>
<button nz-button nzType="primary" (click)="apply()" type="button">{{ 'App.Action.Ok' | translate}}</button>
