<button class="btn btn-success" (click)="add()">{{ 'App.Action.Add' | translate}}</button>

<app-grade-edit (onApply)="onApply($event)" (onCancel)="onCancel()"></app-grade-edit>

<clr-datagrid>
  <clr-dg-column>{{ 'App.Fields.Name' | translate}}</clr-dg-column>
  <clr-dg-column>{{ 'App.Grade.Level' | translate}}</clr-dg-column>
  <clr-dg-column>{{ 'App.Fields.Changed' | translate}}</clr-dg-column>
  <clr-dg-column>{{ 'App.Fields.Created' | translate}}</clr-dg-column>
  <clr-dg-row *ngFor="let item of items" (dblclick)="edit(item)">
    <clr-dg-cell>{{item.name}}</clr-dg-cell>
    <clr-dg-cell>{{item.level}}</clr-dg-cell>
    <clr-dg-cell>{{item.changedAt}}</clr-dg-cell>
    <clr-dg-cell>{{item.createdAt}}</clr-dg-cell>
    <clr-dg-action-overflow>
      <button class="action-item" (click)="edit(item)">{{ 'App.Action.Edit' | translate}}</button>
      <button class="action-item" (click)="remove(item)">{{ 'App.Action.Delete' | translate}}</button>
    </clr-dg-action-overflow>
  </clr-dg-row>

  <clr-dg-footer>{{(items$ | async)?.length}} grades</clr-dg-footer>
</clr-datagrid>
