<div class="modal" *ngIf="show">
  <div class="modal-dialog" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" type="button" (click)="onCancel.emit()">
          <cds-icon shape="close"></cds-icon>
        </button>
      </div>
      <h3 class="modal-title">{{ 'App.Action.Edit' | translate}}: {{ 'App.Grade.Grade' | translate}}</h3>

      <div class="modal-body">
        <form clrForm clrLayout="horizontal" [formGroup]="form">
          <clr-input-container>
            <label class="clr-required-mark">{{ 'App.Fields.Name' | translate }}</label>
            <input clrInput formControlName="name" type="text" class="formControl" required>
            <clr-control-error *clrIfError="'required'">
              {{ 'App.Validation.FieldIsRequired' | translate}}
            </clr-control-error>
          </clr-input-container>
          <clr-input-container>
            <label class="clr-required-mark">{{ 'App.Grade.Level' | translate }}</label>
            <input clrInput formControlName="level" type="number" min="1" class="formControl" required>
            <clr-control-error *clrIfError="'required'">
              {{ 'App.Validation.FieldIsRequired' | translate}}
            </clr-control-error>
          </clr-input-container>
        </form>
      </div>
      <div class="modal-footer">
        <button (click)="onCancel.emit()" class="btn btn-outline" type="button">{{ 'App.Action.Cancel' | translate}}</button>
        <button (click)="apply()" class="btn btn-primary" type="button">{{ 'App.Action.Ok' | translate}}</button>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop" aria-hidden="true" *ngIf="show"></div>
