<div class="d-flex-row">
  <nz-switch [(ngModel)]="active[1]"
             [nzCheckedChildren]="'App.Day.1' | translate"
             [nzUnCheckedChildren]="'App.Day.1' | translate"></nz-switch>

  <nz-switch [(ngModel)]="active[2]"
             [nzCheckedChildren]="'App.Day.2' | translate"
             [nzUnCheckedChildren]="'App.Day.2' | translate"></nz-switch>

  <nz-switch [(ngModel)]="active[3]"
             [nzCheckedChildren]="'App.Day.3' | translate"
             [nzUnCheckedChildren]="'App.Day.3' | translate"></nz-switch>

  <nz-switch [(ngModel)]="active[4]"
             [nzCheckedChildren]="'App.Day.4' | translate"
             [nzUnCheckedChildren]="'App.Day.4' | translate"></nz-switch>

  <nz-switch [(ngModel)]="active[5]"
             [nzCheckedChildren]="'App.Day.5' | translate"
             [nzUnCheckedChildren]="'App.Day.5' | translate"></nz-switch>

  <nz-switch [(ngModel)]="active[6]"
             [nzCheckedChildren]="'App.Day.6' | translate"
             [nzUnCheckedChildren]="'App.Day.6' | translate"></nz-switch>

  <nz-switch [(ngModel)]="active[0]"
             [nzCheckedChildren]="'App.Day.0' | translate"
             [nzUnCheckedChildren]="'App.Day.0' | translate"></nz-switch>
</div>
<hr style="color: transparent;">
<button nz-button nzType="primary" (click)="apply()">{{ 'App.Action.Ok' | translate }}</button>


