<form nz-form [formGroup]="form">
  <nz-form-item>
    <nz-form-label [nzSpan]="4">{{ 'App.Authenticate.Tenant' | translate }}</nz-form-label>
    <nz-form-control [nzSpan]="6">
      <nz-select formControlName="tenantId" [nzDropdownRender]="renderTemplate">
        <nz-option *ngFor="let item of tenantIds" [nzLabel]="item" [nzValue]="item"></nz-option>
      </nz-select>
      <ng-template #renderTemplate>
        <div class="container">
          <input type="text" nz-input #inputElement />
          <a class="add-item" (click)="addTenant(inputElement)">
            <span nz-icon nzType="plus"></span>
            {{ 'App.Action.AddEntry' | translate }}
          </a>
        </div>
      </ng-template>
    </nz-form-control>

  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="4">{{ 'App.Authenticate.Username' | translate }}</nz-form-label>
    <nz-form-control [nzSpan]="6">
      <input nz-input formControlName="userName" type="email">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="4">{{ 'App.Authenticate.Password' | translate }}</nz-form-label>
    <nz-form-control [nzSpan]="6">
      <nz-input-group  [nzSuffix]="suffixTemplate">
        <input
          [type]="passwordVisible ? 'text' : 'password'"
          nz-input
          placeholder="input password"
          formControlName="password"
        />
      </nz-input-group>
      <ng-template #suffixTemplate>
      <span
        nz-icon
        [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
        nzTheme="outline"
        (click)="passwordVisible = !passwordVisible"
      ></span>
      </ng-template>
    </nz-form-control>

  </nz-form-item>
</form>

<button nz-button nzType="primary"
        (click)="onLogin()"
        type="button">{{ 'App.Authenticate.Login' | translate }}
</button>
