<nz-layout class="app-layout" *ngIf="true">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">

    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed" *ngIf="authService.isLoggedIn">
      <li nz-submenu nzOpen nzTitle="{{ 'App.Menu.MasterData' | translate}}" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="tenant">{{ 'App.Tenant.Name' | translate }}</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="rooms">{{ 'App.Room.Rooms' | translate }}</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="days">{{ 'App.Days.Days' | translate }}</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="lessons">{{ 'App.Lesson.Lessons' | translate }}</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="courses">{{ 'App.Course.Courses' | translate }}</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="groups">{{ 'App.Group.Groups' | translate }}</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="teachers">{{ 'App.Teacher.Teachers' | translate }}</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="{{ 'App.Menu.Plans' | translate}}" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="plans">{{ 'App.Menu.Plans.Maintenance' | translate }}</a>
          </li>
        </ul>
      </li>

    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <div class="d-flex-row">
          <div>{{stateService.tenants[0]?.name}}</div>
          <div>/</div>
          <div>{{ authService.UserData?.email }}</div>
        </div>
        <div>
          <button nzBlock nzSize="large" class="btn btn-warning-outline" (click)="onLogout($event)">
            {{ 	'App.Authenticate.Logout' | translate }}
          </button>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>

<div class="main-container" *ngIf="false">
  <header class="header-6">
    <div class="branding">
      <a href="hourglass" (click)="navigate('', $event)" class="nav-link">
        <span class="title">{{ 'App.Title' | translate }}</span>
      </a>
    </div>
    <div class="branding">
      <clr-combobox (ngModelChange)="changeLanguage($event)" [(ngModel)]="country" name="myState" required>
        <clr-options>
          <clr-option *clrOptionItems="let country of stateService.countries; field:'name'" [clrValue]="country">
            <img height="16" [src]="'../assets/flags/' + country.name.toLowerCase() + '.svg'">{{ country.name }}
          </clr-option>
        </clr-options>
      </clr-combobox>
    </div>

    <div class="header-actions">

    </div>
  </header>
  <div class="content-container">
    <clr-vertical-nav *ngIf="authService.isLoggedIn">
      <a clrVerticalNavLink routerLink="tenant" routerLinkActive="active">{{ 'App.Tenant.Name' | translate }}</a>
      <a clrVerticalNavLink routerLink="rooms" routerLinkActive="active">{{ 'App.Room.Rooms' | translate }}</a>
      <a clrVerticalNavLink routerLink="days" routerLinkActive="active">{{ 'App.Days.Days' | translate }}</a>
      <a clrVerticalNavLink routerLink="lessons" routerLinkActive="active">{{ 'App.Lesson.Lessons' | translate }}</a>
      <div class="nav-divider"></div>
      <a clrVerticalNavLink routerLink="courses" routerLinkActive="active">{{ 'App.Course.Courses' | translate }}</a>
      <a clrVerticalNavLink routerLink="groups" routerLinkActive="active">{{ 'App.Group.Groups' | translate }}</a>
      <a clrVerticalNavLink routerLink="teachers" routerLinkActive="active">{{ 'App.Teacher.Teachers' | translate }}</a>
      <a clrVerticalNavLink routerLink="plans" routerLinkActive="active">{{ 'App.Plan.Plans' | translate }}</a>
    </clr-vertical-nav>
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
