<nz-layout class="app-layout" *ngIf="true">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">

    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed" >
      <li nz-submenu nzOpen nzTitle="{{ 'App.Menu.MasterData' | translate}}" nzIcon="dashboard" *ngIf="authService.isLoggedIn">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="tenant">{{ 'App.Tenant.Name' | translate }}</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="rooms">{{ 'App.Room.Rooms' | translate }}</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="days">{{ 'App.Days.Days' | translate }}</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="lessons">{{ 'App.Lesson.Lessons' | translate }}</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="courses">{{ 'App.Course.Courses' | translate }}</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="groups">{{ 'App.Group.Groups' | translate }}</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="teachers">{{ 'App.Teacher.Teachers' | translate }}</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="{{ 'App.Menu.Plans' | translate}}" nzIcon="dashboard" *ngIf="authService.isLoggedIn">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="plans">{{ 'App.Menu.Plans.Maintenance' | translate }}</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="{{ 'App.Authenticate.Authentication' | translate}}" nzIcon="dashboard" *ngIf="!authService.isLoggedIn">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="sign-in">{{ 'App.Authenticate.Login' | translate }}</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="register-user">{{ 'App.Authenticate.Register' | translate }}</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="forgot-password">{{ 'App.Authenticate.ResetPassword' | translate }}</a>
          </li>
        </ul>
      </li>

    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header *ngIf="authService.isLoggedIn">
      <div class="app-header">
        <div class="d-flex-row">
          <div>{{stateService.tenants[0]?.name}}</div>
          <div>/</div>
          <div>{{ authService.UserData?.email }}</div>
        </div>
        <div>
          <button nzBlock nzSize="large" class="btn btn-warning-outline" (click)="onLogout($event)">
            {{ 	'App.Authenticate.Logout' | translate }}
          </button>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>

