<div class="modal" *ngIf="show">
  <div class="modal-dialog" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" type="button">
          <cds-icon shape="close"></cds-icon>
        </button>
      </div>
      <h3 class="modal-title">{{ 'App.Action.Edit' | translate }}: {{ 'App.Group.Group' | translate }}</h3>
      <div class="modal-body">
        <form clrForm clrLayout="horizontal">
          <clr-input-container>
            <label class="clr-required-mark">{{ 'App.Fields.Name' | translate }}</label>
            <input clrInput [(ngModel)]="item.name" type="text" class="formControl" #name name="name" required>
            <clr-control-error *clrIfError="'required'">
              {{ 'App.Validation.FieldIsRequired' | translate}}
            </clr-control-error>
          </clr-input-container>
          <clr-select-container>
            <label>{{ 'App.Grade.Grade' | translate }}</label>
            <select clrSelect [(ngModel)]="item.level" name="level">
              <option
                *ngFor="let item of stateService.grades"
                [value]="item.level"
              >
                {{item.level}}
              </option>
            </select>
          </clr-select-container>
          <clr-select-container>
            <label>{{ 'App.Room.Room' | translate }}</label>
            <select clrSelect [(ngModel)]="item.roomId" name="roomId">
              <option
                *ngFor="let item of stateService.rooms"
                [value]="item.id"
              >
                {{item.name}}
              </option>
            </select>
          </clr-select-container>
        </form>
      </div>
      <div class="modal-footer">
        <button (click)="onCancel.emit()" class="btn btn-outline" type="button">{{ 'App.Action.Cancel' | translate }}
        </button>
        <button (click)="apply()" class="btn btn-primary" type="button">{{ 'App.Action.Ok' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop" aria-hidden="true" *ngIf="show"></div>
