<nz-modal (nzOnCancel)="cancel()" (nzOnOk)="apply()" [(nzVisible)]="show" [nzTitle]="('App.Action.Edit' | translate) + ':' + ('App.Room.Room' | translate)">
  <form *nzModalContent nz-form [formGroup]="form">
    <nz-form-item>
      <nz-form-label [nzSpan]="4">{{ 'App.Fields.Name' | translate }}</nz-form-label>
      <nz-form-control [nzSpan]="6">
        <input nz-input formControlName="name" type="text">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="4">{{ 'App.Grade.Grade' | translate }}</nz-form-label>
      <nz-form-control [nzSpan]="6">
        <input nz-input formControlName="level" type="number">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="4">{{ 'App.Teacher.Teacher' | translate }}</nz-form-label>
      <nz-form-control [nzSpan]="6">
        <nz-select formControlName="teacherId">
          <nz-option *ngFor="let item of stateService.teachers" [nzValue]="item.id" [nzLabel]="item.short"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="4">{{ 'App.Room.Room' | translate }}</nz-form-label>
      <nz-form-control [nzSpan]="6">
        <nz-select formControlName="roomId">
          <nz-option *ngFor="let item of stateService.rooms" [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
