<div class="modal" *ngIf="show">
  <div class="modal-dialog" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" type="button">
          <cds-icon shape="close"></cds-icon>
        </button>
      </div>
      <h3 class="modal-title">{{ 'App.Action.Edit' | translate }}: {{ 'App.Group.Group' | translate }}</h3>
      <div class="modal-body">
        <form clrForm clrLayout="horizontal">
          <clr-input-container>
            <label>{{ 'App.Fields.Name' | translate }}</label>
            <input clrInput [(ngModel)]="item.name" type="text" class="formControl" #name name="name" required>
          </clr-input-container>
          <clr-combobox-container>
            <label>{{ 'App.Grade.Grade' | translate }}</label>
            <clr-combobox [(ngModel)]="item.level" name="level" required>
              <clr-options>
                <clr-option *clrOptionItems="let grade of stateService.grades" [clrValue]="grade.level">
                  {{ grade.level }}
                </clr-option>
              </clr-options>
            </clr-combobox>
          </clr-combobox-container>
        </form>
      </div>
      <div class="modal-footer">
        <button (click)="onCancel.emit()" class="btn btn-outline" type="button">{{ 'App.Action.Cancel' | translate }}
        </button>
        <button (click)="onApply.emit(item)" class="btn btn-primary" type="button">{{ 'App.Action.Ok' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop" aria-hidden="true" *ngIf="show"></div>
