<div class="plan-cell-edit" >
  <div class="no-screen">{{ cell.courseName }}</div>
  <div class="first-row">
    <nz-select
      class="no-print"
      style="width:140px;font-weight:bold;"
      [nzSize]="'small'"
      [nzPlaceHolder]="'App.Course.Course' | translate"
      nzAllowClear
      nzShowSearch
      (ngModelChange)="editCell({courseId: $event})"
      [(ngModel)]="cell.courseId"
    >
      <ng-container *ngFor="let course of stateService.courses">
        <nz-option [nzValue]="course.id" [nzLabel]="course.name"></nz-option>
      </ng-container>
    </nz-select>
    <span nz-icon class="no-print remove-cell" *ngIf="cell?.teacherIds!.length > 0 || cell?.courseId || cell?.roomId" nzType="close" (click)="removeCell(cell)"></span>
  </div>
  <div class="no-screen">{{ cell.teacherShort }}</div>
  <div [ngClass]="{'invalid': cell.invalidTeacher}">
    <nz-select
      class="no-print"
      style="width:180px;"
      [nzSize]="'small'"
      nzMode="multiple"
      [nzStatus]="cell.invalidTeacher ? 'warning' : ''"
      [nzPlaceHolder]="'App.Teacher.Teacher' | translate"
      nzAllowClear
      nzShowSearch
      (ngModelChange)="editCell({teacherIds: $event})"
      [(ngModel)]="cell.teacherIds"
    >
      <ng-container *ngFor="let teacher of stateService.teachers">
        <nz-option [nzValue]="teacher.id" [nzLabel]="teacher.short"></nz-option>
      </ng-container>
    </nz-select>
  </div>
  <div class="no-screen">{{ cell.roomName }}</div>
  <div [ngClass]="{'invalid': cell.invalidRoom}">
    <nz-select
      class="no-print"
      style="width:180px;"
      [nzSize]="'small'"
      [nzStatus]="cell.invalidRoom ? 'warning' : ''"
      [nzPlaceHolder]="'App.Room.Room' | translate"
      nzAllowClear
      nzShowSearch
      (ngModelChange)="editCell({roomId: $event})"
      [(ngModel)]="cell.roomId"
    >
      <ng-container *ngFor="let room of stateService.rooms">
        <nz-option [nzValue]="room.id" [nzLabel]="room.name"></nz-option>
      </ng-container>
    </nz-select>
  </div>
</div>
