<div class="plan-cell-edit">
  <div class="clr-flex-row">
    <select clrSelect (ngModelChange)="editCell({courseId: $event})" [(ngModel)]="cell.courseId" name="courseId">
      <option
        *ngFor="let course of stateService.courses"
        [value]="course.id"
      >
        {{course.name}}
      </option>
    </select>
    <cds-icon *ngIf="cell.teacherId || cell.courseId || cell.roomId" shape="times" (click)="removeCell(cell)"></cds-icon>
  </div>
  <div class="clr-flex-row">
    <select clrSelect (ngModelChange)="editCell({teacherId: $event})" [(ngModel)]="cell.teacherId" name="teacherId">
      <option
        *ngFor="let teacher of stateService.teachers"
        [value]="teacher.id"
      >
        {{teacher.short}}
      </option>
    </select>
    <select clrSelect (ngModelChange)="editCell({roomId: $event})" [(ngModel)]="cell.roomId" name="roomId">
      <option
        *ngFor="let room of stateService.rooms"
        [value]="room.id"
      >
        {{room.name}}
      </option>
    </select>
  </div>
</div>

