<form nz-form [formGroup]="form">
  <nz-form-item>
    <nz-form-label style="width:150px;">{{ 'App.Fields.Email' | translate }}</nz-form-label>
    <nz-form-control >
      <input nz-input style="width:300px;" formControlName="email" type="email">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label style="width:150px;">{{ 'App.Fields.Uid' | translate }}</nz-form-label>
    <nz-form-control>
      <input nz-input style="width:300px;" formControlName="uid" type="text">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label style="width:150px;">{{ 'App.Fields.Lang' | translate }}</nz-form-label>
    <nz-form-control>
      <nz-select (change)="change($event)" formControlName="lang" style="width:300px;" [nzCustomTemplate]="defaultTemplate">
        <nz-option *ngFor="let locale of locales" nzCustomContent [nzValue]="locale">
          <img height="16" [src]="'../assets/flags/' + locale + '.svg'" style="margin-right:4px">{{locale}}
        </nz-option>
      </nz-select>
      <ng-template #defaultTemplate let-selected>
        <img height="16" [src]="'../assets/flags/' + selected.nzValue + '.svg'" style="margin-right:4px">
        {{ selected.nzValue}}
      </ng-template>
    </nz-form-control>
  </nz-form-item>
</form>
