
<clr-datagrid>
  <clr-dg-column></clr-dg-column>

  <clr-dg-column *clrDgItems="let day of openDays; let c = index">{{ 'App.Day.' + day.number | translate }}</clr-dg-column>

  <clr-dg-row *ngFor="let lesson of lessons; let r = index">
    <clr-dg-cell>{{ lesson.from }}-{{ lesson.to}}</clr-dg-cell>
    <clr-dg-cell *clrDgItems="let day of openDays; let c = index">
      <app-plan-cell-edit
        [planEditComponent]="planEditComponent"
        [items]="items"
        (onEditCell)="onEditCell.emit($event)"
        (onRemoveCell)="onRemoveCell.emit($event)"
        [c]="c" [r]="r">
      </app-plan-cell-edit>
    </clr-dg-cell>
  </clr-dg-row>

</clr-datagrid>
