/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ng-zorro-antd/ng-zorro-antd.css";

.branding {
  min-width: unset !important;
}


@media print {
  .no-print {display: none !important;}
}

@media screen {
  .no-screen {display: none !important;}
}

.command-col {
  width: 50px !important;
  display: flex  !important;
  flex-direction: row !important;
  gap: 16px !important;
  margin-left: 8px;
  span {
    cursor: pointer;
  }
}

.days {
  display: flex  !important;
  flex-direction: row !important;
  gap: 16px !important;
}

.w2 {
  width: 50px;
}

.w4 {
  width: 100px;
}

.w6 {
  width: 150px;
}

.w8 {
  width: 200px;
}
