/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ng-zorro-antd/ng-zorro-antd.css";

.branding {
  min-width: unset !important;
}


@media print {
  .no-print {display: none !important;}
}

@media screen {
  .no-screen {display: none !important;}
}

.commmand-col {
  width: 30px !important;
  display: flex  !important;
  flex-direction: row !important;
  gap: 8px !important;
}
