<form nz-form [formGroup]="form" class="d-flex-row">
  <div style="display:flex;flex-direction:row;gap:8px;margin-bottom:4px;">
    <nz-select formControlName="mode">
      <nz-option [nzValue]="Modes.teacher" [nzLabel]="'App.Browser.Modes.Teacher' | translate"></nz-option>
      <nz-option [nzValue]="Modes.room" [nzLabel]="'App.Browser.Modes.Room' | translate"></nz-option>
      <nz-option [nzValue]="Modes.group" [nzLabel]="'App.Browser.Modes.Group' | translate"></nz-option>
    </nz-select>

    <nz-select style="width:200px" formControlName="groupId" *ngIf="form.value.mode === Modes.group">
      <nz-option *ngFor="let item of stateService.groups" [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
    </nz-select>

    <nz-select style="width:200px" formControlName="teacherId" *ngIf="form.value.mode === Modes.teacher">
      <nz-option *ngFor="let item of stateService.teachers" [nzValue]="item.id" [nzLabel]="item.short"></nz-option>
    </nz-select>

    <nz-select style="width:200px" formControlName="roomId" *ngIf="form.value.mode === Modes.room">
      <nz-option *ngFor="let item of stateService.rooms" [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
    </nz-select>

    <div  *ngIf="itemCount > 0">{{ 'App.Fields.Items' | translate }}: {{itemCount}}</div>
  </div>
</form>
<app-browser-cells [browserComponent]="this"></app-browser-cells>
